# Accelerating Pandas and Scikit Learn on GPU using RAPIDS

- Note use only T4 or P100 Or P4 GPU which is compatible for RAPIDS.

- https://github.com/rapidsai

- RAPIDS Uses the folowing componenets: -
- CuML : - Cuda Accelerated Machine learning. (GPU Replacement for sklearn)
- Cudf : - Cuda DataFrames (GPU Replacement for pandas)
- CuGraph : - Cuda accelerated Graphs. (GPU Replacement for networkX)
- CuDNN : - Cuda Deep Neural Networks

# Installing RAPIDS.

- Follow the procedure.

In [1]:
!nvidia-smi

Fri Mar 20 08:33:51 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.64.00    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   67C    P8    11W /  70W |      0MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [0]:
# Install RAPIDS
!git clone https://github.com/rapidsai/rapidsai-csp-utils.git
!bash rapidsai-csp-utils/colab/rapids-colab.sh

import sys, os

dist_package_index = sys.path.index('/usr/local/lib/python3.6/dist-packages')
sys.path = sys.path[:dist_package_index] + ['/usr/local/lib/python3.6/site-packages'] + sys.path[dist_package_index:]
sys.path
exec(open('rapidsai-csp-utils/colab/update_modules.py').read(), globals())

# Now we can use CuML and CuDf

In [0]:
import cuml, cudf

In [0]:
import sys,tempfile, urllib, os
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [0]:
from sklearn.datasets import fetch_openml
covtyp = fetch_openml(name='covertype', version=4)
# Predicting the forest cover type using 53 variables.
# Predict one categorical class.

In [9]:
covtyp.data.shape

(581012, 54)

In [10]:
np.unique(covtyp.target)

array(['1', '2', '3', '4', '5', '6', '7'], dtype=object)

In [11]:
# Still we have not loaded the data
!nvidia-smi

Fri Mar 20 08:56:09 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.64.00    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   37C    P8    10W /  70W |      0MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [0]:
cov_df = pd.DataFrame(data=np.c_[covtyp['data'], covtyp['target']], columns=covtyp['feature_names'] + ['target'])

In [15]:
cov_df.memory_usage().sum()

255645408

In [16]:
cov_df.head()

  Elevation Aspect Slope  ... Soil_Type39 Soil_Type40 target
0      2596     51     3  ...           0           0      5
1      2590     56     2  ...           0           0      5
2      2804    139     9  ...           0           0      2
3      2785    155    18  ...           0           0      2
4      2595     45     2  ...           0           0      5

[5 rows x 55 columns]

In [17]:
cov_df.target.value_counts()

2    283301
1    211840
3     35754
7     20510
6     17367
5      9493
4      2747
Name: target, dtype: int64

In [0]:
cov_df.dtypes

- Convert all objects into float32 format.
- Keep the categorical target as int32

In [0]:
for cols in cov_df.columns:
    cov_df[cols] = cov_df[cols].astype(np.float32)

In [0]:
cov_df.dtypes

In [0]:
cov_df['target'] = cov_df['target'].astype(np.int32)

- Keep target variable from 0 - 7 instead of 1 - 8

In [0]:
cov_df['target'] = cov_df['target'] - 1

In [0]:
cov_df_x = cov_df.drop(['target'], axis=1)

In [0]:
cov_df_y = cov_df['target']

In [59]:
cov_df_x.head()

   Elevation  Aspect  Slope  ...  Soil_Type38  Soil_Type39  Soil_Type40
0     2596.0    51.0    3.0  ...          0.0          0.0          0.0
1     2590.0    56.0    2.0  ...          0.0          0.0          0.0
2     2804.0   139.0    9.0  ...          0.0          0.0          0.0
3     2785.0   155.0   18.0  ...          0.0          0.0          0.0
4     2595.0    45.0    2.0  ...          0.0          0.0          0.0

[5 rows x 54 columns]

In [0]:
cov_df_y = pd.DataFrame(cov_df_y)

In [0]:
cov_df_y['target'] = cov_df_y['target'].astype(np.int32)

In [65]:
cov_df_y['target'].value_counts()

1    283301
0    211840
2     35754
6     20510
5     17367
4      9493
3      2747
Name: target, dtype: int64

In [67]:
cov_df_y.dtypes

target    int32
dtype: object

In [0]:
X_train, X_test, y_train, y_test = train_test_split(cov_df_x, cov_df_y, train_size=0.75, stratify=cov_df_y, random_state=31)

- This moves data to GPU by making a GPU dataframe

In [0]:
X_train_gdf = cudf.DataFrame.from_pandas(X_train)
X_test_gdf = cudf.DataFrame.from_pandas(X_test)
y_train_gdf = cudf.DataFrame.from_pandas(y_train)
y_test_gdf = cudf.DataFrame.from_pandas(y_test)

In [104]:
!nvidia-smi

Fri Mar 20 09:30:38 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.64.00    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   67C    P0    30W /  70W |    629MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

In [0]:
from cuml import RandomForestClassifier as curf
import time

In [0]:
curf_params = {
    'n_estimators' : 250,
    'max_depth' : 3,
    'n_streams' : 1,
    'split_algo' : 0,
    'seed' : 1000
}

In [0]:
clf = curf(**curf_params)

In [108]:
start_time = time.time()
clf.fit(X_train_gdf, y_train_gdf)
end_time = time.time()
print("Time taken to train = %s" %(end_time - start_time))

Time taken to train = 0.8238987922668457

In [0]:
pred = clf.predict(X_test_gdf)

In [110]:
print(pred)

<numba.cuda.cudadrv.devicearray.DeviceNDArray object at 0x7f6e8d39e668>

In [111]:
print(pred[0])

1.0

In [112]:
# There may be problem with older versions. Tested on v 0.12
clf.score(X_test_gdf, y_test_gdf)

0.5118999481201172

In [0]:
# We can take values to local memory
pred_out = pred.copy_to_host()

In [0]:
from sklearn.metrics import confusion_matrix

In [115]:
confusion_matrix(y_test, pred_out)

array([[ 4687, 48273,     0,     0,     0,     0,     0],
       [ 1157, 69668,     0,     0,     0,     0,     0],
       [    0,  8938,     0,     0,     0,     0,     0],
       [    0,   687,     0,     0,     0,     0,     0],
       [    0,  2373,     0,     0,     0,     0,     0],
       [    0,  4342,     0,     0,     0,     0,     0],
       [   43,  5085,     0,     0,     0,     0,     0]])